body {
  font-family: Arial, sans-serif;
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
#setup,
#exam,
#result {
  text-align: center;
}
#questionContainer { margin-bottom: 20px; }
.wrong { color: red; }
.correct { color: green; }
